<p>Titre <input type="text" [(ngModel)]="title"/> </p>
<p>Année <input type="number" [(ngModel)]="year"/> </p>
<p>Type 
    <select [(ngModel)]="type">
        <option value="">Tous</option>
        <option value="movie">Movie</option>
        <option value="serie">Série</option>
        <option value="episode">Episode</option>
    </select> 
</p>
<button (click)="rechercher()">Rechercher</button>
<p *ngIf="error && error.length > 0">{{error}}</p>
<div *ngIf="films && films.length > 0">
    <div *ngFor="let film of films">
        <img [src]="film.Poster"/>
        <p>{{film.Title}}</p>
        <p>{{film.Year}}</p>
    </div>
</div>

